body,html,#root{
  width:100%;
  height:100%
}
body{
  display:flex;
  background-color: rgb(255, 214, 214);
}
.home, .results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%
}
.weatherInfo{
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

